#logo {
  width: max(100px, 18vw);
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}

.main{
   
  width:auto;
height: 800px;
flex-shrink: 0;
border: 1px solid #979797;
background: #D8D8D8;
 background-size: cover;
  background-position: center;
background-image: url("images/headphones_hero_1.jpg");
}
.top{
display: flex;
padding: 10px;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    align-content: flex-start;
    justify-content: space-around;
}
.logo{
  width: 161px;
height: 32px;
flex-shrink: 0;

}
.link{
display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;
  height: 15px;
align-items: flex-start;
gap: 41px;
flex-shrink: 0;
}
.nav{
  color: #FFF;
font-family: Source Sans Pro;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
a {
  color: rgb(252, 248, 248);
  text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

/* Make the ul element inline and set padding */
nav.link ul {
    display: inline-block;
    padding-left: 20px;
}

/* Style the list item as inline */
nav.link ul li {
    display: inline-block
}

/* Remove the bullet points for list items */
nav.link ul li::before {
    display: none;
}

/* style links when user hovers over them */
nav.link ul li a:hover {
    color: #FF6565;
}

/* style links when they are active or being clicked */
nav.link ul li a:active {
    color: #000;
}
.top1{
  width: 637px;
height: 313px;
text-align: center;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
    align-content:center;
    justify-content:center;
  margin: 100px auto;

padding: 10px;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;
    align-content: flex-start;
    justify-content: space-around;
}

.top1 > div {
  margin: 10px;
  max-height: 100%;
  max-width: 100%;
}
.H1{
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.H2{
  color: #FFF;
text-align: center;
font-family: Source Sans Pro;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
button{
  width: 162px;
height: 44px;
flex-shrink: 0;
border-radius: 22px;
background: #FF6565;
}
.call{
  color: #FFF;
text-align: center;
font-family: Source Sans Pro;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.top2{
  color: #FFF;
text-align: center;
font-family: Source Sans Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

/* Styles for small screens */
@media only screen and (max-width: 375px) {
  .burger {
    display: block;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
  }

  .link {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333333;
    z-index: 9999;
    text-align: center;
    padding-top: 20%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .link.active {
    display: block;
    opacity: 1;
  }

  .nav-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 600px;
    text-align: center;
  }

  .nav{
    display: block;
    margin-bottom: 1em;
  }

  .nav-link {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ffffff;
  }

  .nav-link:hover {
    color: #ff6565;
    border-bottom: 1px solid #ff6565;
  }

}

/* Styles for large screens */
@media only screen and (min-width: 375px) {
  .burger {
    display: none;
  }

  .link {
    display: flex;
  }
}
